/* General Styles */

* {
  box-sizing: border-box;
}

body {
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: normal;
  background-color: rgb(58, 58, 58);
}

.divider {
  width: 100%;
  height: 4px;
  background-color: #2323d3;
}

a:link, a:visited {
  color: #000;
}


/* HNG */

.hng-details {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.hng-details .logo {
  width: 50%;
  margin: 10px auto;
}

.hng-details .logo img {
  width: 100%;
}

.hng-details a {
  display: block;
}


/* Resume Styles */

/* Top Section */

.resume {
  max-width: 900px;
  background-color: #fff;
  padding: 40px;
  margin: 0px auto;
}


.resume .profileImg {
  margin-top: 40px !important;
}

.resume .profileImg, .section-header {
  display: flex;
  align-items: center;
}

.resume .profileImg img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border: 3px solid #2323d3;
}

section {
  margin-top: 50px;
}

.section-header {
  margin-bottom: 10px;
}

.section-title {
  margin: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 18px;
  /* flex-basis: 40%; */
}

.section-body {
  padding-left: 20px;
  line-height: 25px;
}


/* Into */

.intro {
  width: 100%;
  text-align: center;
}

.intro h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.intro .bio {
  color: rgb(223, 132, 14);
  font-size: 20px;
}

.intro .work-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
}

.intro .work-info .item {
  padding: 5px;
  margin: 5px;
}


/* work experience */
.work-experience .work-place-title {
  font-weight: bold;
}

.work-experience .work-details {
  margin-bottom: 20px;
}


/* Job */
.job {
  max-width: 100%;
}

.job .section-body {
  display: grid;
  grid-template-columns: auto auto auto;
}

.job .section-body .skill, .language .section-body .skill {
  background-color: rgb(146, 146, 146);
  color: #fff !important;
  border-radius: 50%;
  width: max-content;
  margin: 10px;
  padding: 15px;
}

/* Association */

.association-title {
  font-weight: bold;
}

/* contact form */
.form-group, #submitBtn {
  margin: 10px 0px;
}

#submitBtn {
  background-color: #2323d3 !important;
}

/* a {
  color: #00B7FF;
} */


@media screen and (max-width: 576px) {
  .job .section-body {
    grid-template-columns: auto auto;
  }

  .job .section-body {
    padding-left: 0px !important;
  }
}


/* Media queries */

@media screen and (max-width: 576px) {

  .resume {
    padding: 20px;
  }

  .intro h1 {
    font-size: 35px;
    font-weight: bold;
  }
  
  .intro .bio {
    font-size: 18px;
  }

  .intro .row .col-md-4 {
    margin-top: 10px;
  }

}